{%extends 'musicbeats/basic.htm'%}
{% block title%}MusicBeats{% endblock %}

{% block body %}
    {% load static %} 
   

    <h2 style="padding-left: 8%; padding-top: 2%; font-family: 'Verdana';">Trending Songs</h2>

    <div class="row" style="padding-top: 2%; padding-left: 7%;">
    {% for i in song %}
    <div style="padding-left: 2%; padding-top: 1%;">
    <div class="card" style="width: 18rem;">
      <img src="{{i.image}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{i.name}}</h5>
        <!-- <p class="card-text" style="color: green;">Tags: {{i.tags}}</p> -->
        <p class="card-text" style="color: green;">Movie: {{i.movie}}</p>
        <a href="/musicbeats/songs/{{i.song_id}}" class="btn btn-outline-danger ">Add to playlist</a>
        <a href="/musicbeats/songs/{{i.song_id}}" class="btn btn-outline-danger ">Play now</a>
      </div>
    </div>
  </div>
  {% endfor %}
  </div>
  <hr>

  <h3 style="padding-left: 8%; padding-top: 2%; font-family: 'Verdana';">Your Playlist</h3>

  <div class="row" style="padding-top: 2%; padding-left: 7%;">
    {% for i in watch reversed %}
    <div style="padding-left: 2%; padding-top: 1%;">
    <div class="card" style="width: 18rem;">
      <img src="{{i.image}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{i.name}}</h5>
        <!-- <p class="card-text" style="color: green;">Tags: {{i.tags}}</p> -->
        <p class="card-text" style="color: green;">Movie: {{i.movie}}</p>
        <a href="/musicbeats/songs/{{i.song_id}}" class="btn btn-outline-danger ">Play now</a>
      </div>
    </div>
  </div>
  {% endfor %}
  </div>
  <hr>



{% endblock %}
